<header class="header">
    <div  class="header__container container flex-perfect">
        <div class="header__logo" data-aos="fade-right">
            <a href="/" class="header__logo-link">
                <img src="/images/logo/logo.png" alt="" class="header__logo-img">
            </a>
        </div>
        <div class="header__nav flex-justify-items-end" data-aos="fade-left">
            <nav class="header__menu flex-perfect">
                <li class="header__menu-item active">
                    <a href="#">
                        home
                    </a>
                </li>
                <li class="header__menu-item has-child">
                    <a href="#">
                        Pages
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a href="">Sub menu</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="">Sub menu</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="">Sub menu</a>
                        </li>
                    </ul>
                </li>
                <li class="header__menu-item has-child">
                    <a href="#">
                        Elements
                    </a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a href="">Sub menu</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="">Sub menu</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="">Sub menu</a>
                        </li>
                    </ul>
                </li>
                <li class="header__menu-item">
                    <a href="#">
                        Product
                    </a>
                </li>
                <li class="header__menu-item">
                    <a href="#">
                        Blog
                    </a>
                </li>
                <li class="header__menu-item">
                    <a href="#">
                        Work
                    </a>
                </li>
            </nav>

            <a href="" class="header__btn-init btn">Start a Project</a>

            <div class="header__burger">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <ul class="header__burger-menu sub-menu">
            <li class="sub-menu__item">
                <a href="">About Us</a>
            </li>
            <li class="sub-menu__item">
                <a href="">Company</a>
            </li>
            <li class="sub-menu__item">
                <a href="">Our Process</a>
            </li>
            <li class="sub-menu__item">
                <a href="">Services</a>
            </li>
            <li class="sub-menu__item">
                <a href="">Contact us</a>
            </li>
            <li class="sub-menu__item">
                <a href="">F.A.Q.</a>
            </li>
        </ul>
    </div>
</header>