<header class="header">
    <div class="header__container container flex">
        <div class="header__logo">
            <a href="" class="header__logo-link">
                <img src="" alt="" class="header__logo-img">
            </a>
        </div>
        <div class="header__nav">
            <nav class="header__menu">
                <li class="header__menu-item">
                    <a href="">
                    </a>
                </li>
            </nav>

            <a href="" class="header__btn-init btn"></a>

            <div class="header__burger">
                <div class="burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>

        <ul class="header__burger-menu">
            <li class="header__menu-item">
                <a href="">
                </a>
            </li>
        </ul>
    </div>
</header>