.icon-180-induction {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-24-programs {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-360-rotate {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-arrow-left {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-arrow-right {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-babyface {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-bag {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Bakery {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Bird {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Bookmark-empty {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Bookmark-full {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Chef {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-cooking-hat {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Copy {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-d2 {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Desserts {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Drinks {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-edit {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-exit {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-fast {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-fb {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Gluten-free {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-history {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Image {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-inst {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-k-attch {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-like {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Logo-Main {
  width: 2.91em;
  height: 1em;
  fill: white;
}
.icon-meat-diet {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Meat {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Mobile {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-more-dots {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-my-kenwood {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-ok {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Pizza {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-planet-mixing {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-plus {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-print {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-profile {
  width: 0.95em;
  height: 1em;
  fill: white;
}
.icon-promocodes {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-referal {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Salads {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Shevron {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-shief {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Souces {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Soup {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-speed {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Sugar-free {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-tick {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-time {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Trash {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-User {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Vegan {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-Vegetables {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-vk {
  width: 1em;
  height: 1em;
  fill: #141414;
}
.icon-youtube {
  width: 1em;
  height: 1em;
  fill: #141414;
}
