{% set page_title = "" %}
{% set main_class = "home" %}

{% extends "partials/_layout.html" %}

{% block content %}

    <section class="section section--hero hero">
        <div class="hero__img" data-aos="fade-in" data-aos-delay="300">
            <img src="/images/hero.png" alt="">
        </div>
        <div class="container" data-aos="fade-up" data-aos-delay="500">
            <p class="hero__title max-400 h1">Get Some Fresh AIR</p>
            <p class="hero__desc">Fjord - Modern Landing Page</p>
        </div>
    </section>

    <section class="section section--todo todo">
        <div class="todo__row container">
            <div class="todo__col text-center" data-aos="fade-down-right" data-aos-delay="300">
                <img src="/images/icons/mail.png" alt="" class="todo__img">
                <p class="title">GET A CUSTOMIZED<br> EMAIL ADDRESS AND MORE</p>
                <p class="desc">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                <a href="" class="link title">Learn More</a>
            </div>
            <div class="todo__col text-center" data-aos="fade-down" data-aos-delay="400">
                <img src="/images/icons/edit.png" alt="" class="todo__img">
                <p class="title">40 MILLION HIGH<br> QUALITY IMAGES</p>
                <p class="desc">At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.</p>
                <a href="" class="link title">Learn More</a>
            </div>
            <div class="todo__col text-center" data-aos="fade-down-left" data-aos-delay="500">
                <img src="/images/icons/card.png" alt="" class="todo__img">
                <p class="title">CREATE A SIMPLE LOGO<span class="new">new</span></p>
                <p class="desc">She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
                <a href="" class="link title">get started</a>
            </div>
        </div>
    </section>

    <section class="section--slider slider" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">
        <div class="container-fluid swiper-container slider__container">
            <div class="swiper-wrapper">
                <div class="swiper-slide slider__item" data-color="#33ffff">
                    <div class="container">
                    
                        <img src="/images/iPhone.png" alt="" class="slider__img">
                        <div class="slider__caption caption">
                            <ul class="caption__list">
                                <li class="caption__item">
                                    <img src="/images/icons/browsers.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Create a beautiful website.</span>
                                        <p class="caption__text">Whether you want to create a blog, eCommerce store, portfolio, or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.</p>
                                    </div>
                                </li>
                                <li class="caption__item">
                                    <img src="/images/icons/briefcase.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Make your our business.</span>
                                        <p class="caption__text">From goods to services, every business needs a space online to bring in customers. </p>
                                    </div>
                                </li>
                                <li class="caption__item">
                                    <img src="/images/icons/edit.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Be artist</span>
                                        <p class="caption__text">An artist should always have control over their creative process.</p>
                                    </div>
                                </li>
                                <a href="#" class="btn">get started</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slider__item" data-color="#7C2582">
                    <div class="container">
                        <img src="/images/iPhone.png" alt="" class="slider__img">
                        <div class="slider__caption caption">
                            <ul class="caption__list">
                                <li class="caption__item">
                                    <img src="/images/icons/browsers.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Create a beautiful website.</span>
                                        <p class="caption__text">Whether you want to create a blog, eCommerce store, portfolio, or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.</p>
                                    </div>
                                </li>
                                <li class="caption__item">
                                    <img src="/images/icons/briefcase.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Make your our business.</span>
                                        <p class="caption__text">From goods to services, every business needs a space online to bring in customers. </p>
                                    </div>
                                </li>
                                <li class="caption__item">
                                    <img src="/images/icons/edit.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Be artist</span>
                                        <p class="caption__text">An artist should always have control over their creative process.</p>
                                    </div>
                                </li>
                                <a href="#" class="btn">get started</a>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide slider__item" data-color="#f5f6f8">
                    <div class="container">
                        <img src="/images/iPhone.png" alt="" class="slider__img">
                        <div class="slider__caption caption">
                            <ul class="caption__list">
                                <li class="caption__item">
                                    <img src="/images/icons/browsers.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Create a beautiful website.</span>
                                        <p class="caption__text">Whether you want to create a blog, eCommerce store, portfolio, or all of the above, you can express your idea with a website powered by our elegant yet intuitive platform.</p>
                                    </div>
                                </li>
                                <li class="caption__item">
                                    <img src="/images/icons/briefcase.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Make your our business.</span>
                                        <p class="caption__text">From goods to services, every business needs a space online to bring in customers. </p>
                                    </div>
                                </li>
                                <li class="caption__item">
                                    <img src="/images/icons/edit.png" alt="" class="caption__icon">
                                    <div class="caption__desc">
                                        <span class="caption__title">Be artist</span>
                                        <p class="caption__text">An artist should always have control over their creative process.</p>
                                    </div>
                                </li>
                                <a href="#" class="btn">get started</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-arrow__container">
                <div class="swiper-button-prev swiper-arrow"> 
                    <img src="/images/icons/back.svg" alt="">
                </div>
                <div class="swiper-button-next swiper-arrow">
                    <img src="/images/icons/next.svg" alt="">
                </div>
            </div>
            

        </div>
    </section>

    <section class="section section--slogan slogan text-center">
        <div class="container">
            <p class="h1 mb-40" data-aos="fade-up"
     data-aos-anchor-placement="center-bottom">Build it beautiful</p>
            <p class="text block-center max-460" data-aos="fade-up"
     data-aos-anchor-placement="bottom-bottom" data-aos-delay="200">Sometimes bold ideas don't require a full website. That's why Cover Pages can be used to convey a single idea in a beautiful way.</p>
        </div>
    </section>



    <section class="section section--about about">
        <div class="flex-justify-space-between flex-wrap container">
            <div class="col" data-aos="fade-up-right" data-aos-delay="300">
                <div class="head">Dummy Content</div>
                <div class="text">Can make website design much easier and with our shortcode manager you can now create them even faster. Choose your desired shortcode and the manager will insert it for you.</div>
                <a href="#" class="link">Learn More</a>
            </div>
            <div class="col" data-aos="fade-up" data-aos-delay="400">
                <div class="head">Dummy Content</div>
                <div class="text">Can make website design much easier and with our shortcode manager you can now create them even faster. Choose your desired shortcode and the manager will insert it for you.</div>
                <a href="#" class="link">Learn More</a>
            </div>
            <div class="col" data-aos="fade-up-left" data-aos-delay="500">
                <div class="head">Dummy Content</div>
                <div class="text">Can make website design much easier and with our shortcode manager you can now create them even faster. Choose your desired shortcode and the manager will insert it for you.</div>
                <a href="#" class="link">Learn More</a>
            </div>
        </div>
    </section>

    <section class="section section--about about plash">
        <div class="about__plash" data-aos="zoom-in-up">
            <div>
                <p class="h1 mb-40 c-light fw-100 max-600">This will change everything</p>
                <p class="text c-silver max-430">
                    Your eCommerce website is just the start. Whether you are an established business or on the brink of a new idea, Squarespace gives you the tools to take your business from online store to recognized brand.
                </p>
            </div>
            <a href="#" class="btn btn--lazure btn--rounded upper fw-500">
                get started
            </a>
        </div>
        <img src="/images/ipad.png" data-aos="fade-left" data-aos-delay="500" alt="">
    </section>

    <section class="section section--about about">
        <div class="container">
            <p class="head fw-600 mb-40 upper text-center">Platform Features</p>
            <p class="text fw-500 mb-50 max-900 block-center text-center">At first, for some time, I was not able to answer him one word; but as he had taken me in his arms I held fast by him, or I should have fallen to the ground.</p>


            <ul class="caption__list flex-justify-space-between flex-wrap">
                <li class="caption__item" data-aos="flip-left">
                    <img src="/images/icons/gouge.png" alt="" class="caption__icon">
                    <div class="caption__desc">
                        <span class="caption__title">Dashboard</span>
                        <p class="caption__text">Looking cautiously round, to ascertain that they were not overheard, the two hags cowered nearer to the fire, and chuckled heartily.</p>
                    </div>
                </li>
                <li class="caption__item" data-aos="flip-left">
                    <img src="/images/icons/chat.png" alt="" class="caption__icon">
                    <div class="caption__desc">
                        <span class="caption__title">Discussions</span>
                        <p class="caption__text">This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.</p>
                    </div>
                </li>
                <li class="caption__item" data-aos="flip-left">
                    <img src="/images/icons/phone.png" alt="" class="caption__icon">
                    <div class="caption__desc">
                        <span class="caption__title">Mobile Apps</span>
                        <p class="caption__text">This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.</p>
                    </div>
                </li>

                <li class="caption__item" data-aos="flip-left">
                    <img src="/images/icons/adjustments.png" alt="" class="caption__icon">
                    <div class="caption__desc">
                        <span class="caption__title">Fully Customizable</span>
                        <p class="caption__text">She gave my mother such a turn, that I have always been convinced I am indebted to Miss Betsey for having been born on a Friday.</p>
                    </div>
                </li>
                <li class="caption__item" data-aos="flip-left">
                    <img src="/images/icons/cart.png" alt="" class="caption__icon">
                    <div class="caption__desc">
                        <span class="caption__title">Ecommerce</span>
                        <p class="caption__text">It was some time before he obtained any answer, and the reply, when made, was unpropitious.</p>
                    </div>
                </li>
                <li class="caption__item" data-aos="flip-left">
                    <img src="/images/icons/chart.png" alt="" class="caption__icon">
                    <div class="caption__desc">
                        <span class="caption__title">Statistics</span>
                        <p class="caption__text">Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.</p>
                    </div>
                </li>
            </ul>

        </div>
    
    </section>

    <section class="section section--about about testimonials swiper-container">
        <div class="testimonials__row swiper-wrapper">
        {% for i in range (0, 5)%}
            <blockquote class="swiper-slide" data-aos="zoom-out-up">
                <div class="text fw-100">
                    It was some time before he obtained any answer, and the reply, when made, was unpropitious.
                </div>
                <div class="author">Sir Walter Scott</div>

            </blockquote>
        {%- endfor %}
        </div>
    </section>


    <section class="section section--gallery">
        <div class="title h3 fw-900 text-center">Do it by yourself</div>
        <div class="gallery">
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/1.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/2.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/3.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/4.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/5.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/6.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
            <div class="gallery__item" data-aos="flip-right">
                <a href="#">
                    <img src="/images/gallery/7.jpg" alt="">
                    <span class="btn btn--lazure upper">View Demo</span>
                </a>
            </div>
        </div>
    </section>

    <section class="section section--slogan slogan text-center">
        <div class="container">
            <p class="h1 fw-100" data-aos="fade-up" data-aos-anchor-placement="center-bottom">Join over 1 million customers</p>
        </div>
    </section>

    <section class="section section--price price">
        <div class="container flex flex-justify-center">
            <div class="col" data-aos="zoom-in-up">
                <p class="price__title">Beginner</p>
                <span class="price__coast">$4.99</span>
                <p class="price__desc">Alice wondered a little at this, but she was too much in awe of the Queen to disbelieve it. 'I'll try it when I go home,' she thought to herself, 'the next time I'm a little late for dinner.'</p>
                <a href="" class="link upper">get started</a>
            </div>
            <div class="col black" data-aos="zoom-in-up">
                <p class="price__title">Standart</p>
                <span class="price__coast">$14.99</span>
                <p class="price__desc">You can create as many sections as you like, with or without paralaxx, it’s up to you! Brooklyn does not limit your imagination,see our 8 demos.</p>
                <a href="" class="link upper">get started</a>
            </div>
            <div class="col" data-aos="zoom-in-up">
                <p class="price__title">Pro</p>
                <span class="price__coast">$99.99</span>
                <p class="price__desc">Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.</p>
                <a href="" class="link upper">get started</a>
            </div>
        </div>
    </section>

    <section class="section section--footer footer">

        <div class="container" data-aos="zoom-out-up">
        
            <div class="title text-right">
                This will change
            </div>
            <div class="title text-right bg">
                everything
            </div>
        </div>


        <div class="footer__container container flex" data-aos="fade-up"
     data-aos-duration="1500">
            <div class="col">
                <a class="logo" href="/">
                    <img src="/images/logo/logo.png" alt="">
                </a>
                <ul class="list">
                    <li><a href="">Pages</a></li>
                    <li><a href="">Elements</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Work</a></li>
                </ul>
                <ul class="list">
                    <li><a href="">Pages</a></li>
                    <li><a href="">Elements</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Work</a></li>
                </ul>
                <ul class="list">
                    <li><a href="">Pages</a></li>
                    <li><a href="">Elements</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Work</a></li>
                </ul>
            </div>
            <div class="col text-right">
                <a href="#">
                    <img src="/images/logo/Craftwork.png" alt="">
                </a>
                
                <div class="contact">
                    <p><a href="www.getcraftwork.com">www.getcraftwork.com</a></p>

                    <div class="flex-align-items-center flex-justify-content-end">
                        <a href="">
                            <img class="soc-icon" src="/images/icons/twitter.png" alt="">
                        </a>
                        <a href="">
                            <img class="soc-icon" src="/images/icons/fb.png" alt="">
                        </a>
                        <a href="">
                            <img class="soc-icon" src="/images/icons/beh.png" alt="">
                        </a>
                        <a href="">
                            <img class="soc-icon" src="/images/icons/oth.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        
        </div>

    </section>

{% endblock %}